<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{student.message.title}"></title>
</head>

<div style="background: #CBF3F0;
    width: 100%;
    flex:1;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;">
    <h2 style="color: #176961;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;"><span th:text="#{student.message.subject}"></span> - <span th:text="${subjectName}"></span></h2>
    <p style="text-align: center;"><span th:text="#{student.message.from}"></span> <span th:text="${student.getName()}"></span> <span th:text="${student.getSurname()}"></span></p>

        <div>
            <div style="align-items: center;
    background: white;
    width: 95%;
    border-radius: 6px;
    min-height: 100px;
    padding: 10px;
    border-top: 1px solid #2EC4B6;
    border-left: 1px solid #2EC4B6;
    border-right: 1px solid #2EC4B6;
    border-bottom: 4px solid #2EC4B6;
    margin-bottom: 5px;">
                <p style="white-space: pre-wrap" th:text="${content}"></p>
            </div>
        </div>

    <div style="width: 100%; display: flex; align-items: center; justify-content: center; background: #2EC4B6; color: white;font-size: 16px;padding: 6px;">
        <p th:text="#{footer.message(${year})}"></p>
    </div>

</div>
</html>