:root {
    --cyan-darkest: #176961;
    --cyan-dark: #2EC4B6;
    --cyan-light: #CBF3F0;
    --orange-light: #FFBF69;
    --orange-dark: #FF9F1C;
    --success-back: #45FF9F;
    --success-front: #39614C;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

*{
    margin: 0;
}
/*                  NAVBAR                  */
.navbar-container{
    width: 100vw;
    max-width: 100vw;
    background: var(--cyan-dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

}

.nav-title{
    font-family: 'Righteous', cursive;
    font-size: 38px;
    margin: 0 0 0 14px;
}

.nav-sections-container{
    display: flex;
    height: 70px;
    align-items: center;
    margin-left:48px;
}

.nav-sections-item{
    list-style-type: none;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
}

.nav-sections-item-active{
    font-weight: 700;
}


.user-nav-wrapper{
    margin-right: 40px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logout-btn{
    color: saddlebrown;
    background: none;
    border: 2px solid saddlebrown;
    cursor: pointer;
}

.success-box{
    background: var(--success-back);
    color: var(--success-front);
    border-bottom: 2px solid var(--success-front);
    padding: 3px;
    padding-left: 20px;
    font-weight: 700;
}

/*                  CORE-PAGE-CONTAINERS                  */
.page-organizer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
.page-container{
    background: var(--cyan-light);
    width: 100%;
    flex:1;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading{
    color: var(--cyan-darkest);
    font-size: 24px;
    margin-bottom: 20px;
}

.courses-container {
    background: white;
    width: 560px;
    padding: 12px 20px 12px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px var(--cyan-darkest);
}

.course{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.course-name{
    font-weight: 700;
}

.course-section-name{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    font-size: 22px;
}

.course-page-wrapper{
    display: flex;
    width: 100%;
}

/*                  COURSE-SECTIONS-COl                  */

.course-sections-col{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 400px;
    background: var(--cyan-darkest);
    color: var(--cyan-light);
    padding: 20px;
    border-bottom-right-radius: 14px;
}

.course-sections-col-title{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--cyan-light);
    padding-bottom: 10px;
}
.course-sections-item{
    font-weight: 700;
    font-size: 18px;;
    list-style-type: none;
    margin-bottom: 9px;
}

.course-sections-item:hover{
    color: white;
    transition: all 0.2s ease-in-out;
}

.course-data-container{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 20px;
}

.announcement-wrapper{
    align-items: center;
    background: white;
    width: 95%;
    border-radius: 12px;
    min-height: 200px;
    padding: 20px;
    border-bottom: 3px solid var(--cyan-darkest);
    margin-bottom: 5px;
}

.announcement-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.announcement-title{
    font-size: 24px;
}

.announcement-date{
    font-size: 14px;
    margin: 0 0 6px 2px;
}

/* TODO: ver si esto va aca */
.announcement-course-link:link, .announcement-course-link:visited {
    margin-top: 5px;
    float: right;
    border-radius: 15px 50px;
    background-color: var(--cyan-darkest);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.announcement-course-link:hover, .announcement-course-link:active {
    background-color: var(--cyan-dark);
}
/******************************************/

/*                  UTILS                  */

.separator{
    height: 3px;
    border-top: 3px solid var(--cyan-darkest);
    border-bottom: 3px solid var(--cyan-darkest);
    margin: 20px 0;
    color: var(--cyan-darkest);
    align-self:center;
}

.styleless-anchor {
    text-decoration: none !important;
    color: inherit;
}

.reduced{
    width: 90%;
}

.big-wrapper{
    display: flex;
    flex-direction: column;
    background: white;
    width: 95%;
    border-radius: 12px;
    min-height: 400px;
    padding: 20px;
    border-bottom: 3px solid var(--cyan-darkest);
    margin-bottom: 30px;
}

.professor-unit{
    display: flex;
    align-items: center;

}

.pagination-wrapper{
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 700;
    margin: 20px 0;
}

.pagination-arrow{
    cursor: pointer;
    margin: 0 8px;
    height: 36px;
}

.x-rotated{
    transform: rotate(180deg);
}

.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cyan-dark);
    color: white;
    font-size: 16px;
    padding: 6px;
}

.form-wrapper{
    align-self: center;
    background: white;
    display: flex;
    flex-direction: column;
    border: 10px solid var(--cyan-dark);
    width: 95%;
    border-radius: 12px;
    min-height: 200px;
    padding: 20px;
    border-bottom: 10px solid var(--cyan-darkest);
    margin-bottom: 5px;
}

/*                  FORMS                  */

.form-button{
    border-radius: 12px;
    width: 200px;
    padding: 5px;
    font-size: 22px;
    font-weight: 700;
    background: var(--cyan-dark);
    color: var(--cyan-light);
    border: 2px solid var(--cyan-light);
    cursor: pointer;
    align-self: center;
    margin-top:20px;
    resize:none;
}
.form-label{
    margin-top:20px;
    font-size: 22px;
    font-weight: 700;
    color: var(--cyan-dark);
    margin-left:10px
}
.form-input{
    font-size: 18px;
    margin: 0 10px;
    border-radius: 12px;
    border: 2px solid var(--cyan-dark);
    padding:5px;
}

.error-message{
    color:red;
    margin-left: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

/*                  FILES                  */

.file-grid{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.file-unit{
    width: calc(100% - 40px);
    height: 150px;
    border-radius: 15px;
    margin:5px;
    background: var(--cyan-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.file-img{
    width: 80px;
    margin-bottom: 12px;
}

.file-name{
    color: white;
    font-weight: 700;
    margin-left: 10px;
    font-size: 20px;
}
.file-query-container{
    display: flex;
    flex-direction: column;
    background: var(--cyan-darkest);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 12px;
}
.file-filter-container{
    display: none;
    padding: 0 30px;
    flex-direction:column;
}

.file-select-label{
    font-size: 18px;
    font-weight: 700;
    color: var(--cyan-light);
}

.file-select{
    font-size: 18px;
    border-radius: 12px;
    background: var(--cyan-light);
    padding:5px;
    outline: none;
    border:none;
}

.file-checkbox{
    border: 1px solid var(--cyan-light);
}

.file-checkbox-label{
    color: var(--cyan-light);
}

.file-filter-pill,
.file-filter-pill-red
{
    color: white;
    font-weight: 700;
    border-radius: 12px;
    padding:4px 8px;
    margin-left: 6px;
    margin-bottom: 2px;
    background: var(--cyan-dark);
}

.file-filter-pill-red{
    background: #a80011;
}

.file-category-name{
    background: var(--cyan-darkest);
    color:white;
    border-radius: 12px;
    padding:6px;
    font-weight: 700;
    margin-left: 15px;
}

/*                  USER-SECTION                  */

.user-section-img{
    height: 280px;
    width: 280px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.user-section-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px
}

.user-container{
    display: flex;
    width: calc(95% - 60px);
    margin:30px 10px 10px 10px;
    border-radius: 12px;
    border: 2px solid var(--cyan-darkest);
    padding: 30px;
    align-self: center;
}

.user-column{
    width: 50%;

}

/*                  ICONS AND IMAGES                  */

.medium-icon{
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.small-icon{
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.mini-icon{
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.back-img{
    width: 30px;
    transform: rotate(180deg);
    margin: 0 10px;
}

.professor-icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid var(--cyan-dark);
    margin-right: 10px;
    overflow: hidden;
    object-fit: cover;
}

.mail-icon{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin-left:10px;
    cursor:pointer;
}
.admin-title{
    color: var(--cyan-darkest);
    margin: 40px 0;
}

.redirection-button{
    font-size: 30px;
    padding: 30px;
    background: var(--cyan-darkest);
    border-radius: 10px;
    color: white;
    border: 3px solid var(--cyan-dark);
    cursor: pointer;
}


.error-title{
    color: var(--cyan-darkest);
    align-self: center;
    margin-top:30px;
}
